.Bouton {
    background-color: #9F2042;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: solid 1px #7B0D1E;
    border-radius: 10px;
    color: white;
    user-select: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
}

.Bouton:hover {
    background-color: #7B0D1E;
}

.Bouton:active {
    background-color: #7B0D1EDD;
}

;